body {
  background-color: #ffe2e2;
}

h1,
h3 {
  color: #8785a2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  border-style: dotted none none;
  width: 10%;
  border-width: thick;
  border-color: burlywood;
}

img {
  width: 150px;
}
